.btn-toggle {
	height: 2rem;

	&[data-state='open'] {
		background-color: hsla(5, 80%, 90%, 0.32);
	}

	@media (prefers-color-scheme: dark) {
		&[data-state='open'] {
			background-color: hsla(5, 80%, 30%, 0.32);
		}
	}
}
