.elevation-sm {
	box-shadow: var(--helixify-elevation-sm);
}
.elevation-md {
	box-shadow: var(--helixify-elevation-md);
}
.elevation-lg {
	box-shadow: var(--helixify-elevation-lg);
}
.inset {
	box-shadow: var(--helixify-inset);
}

.hover\:elevation-sm:hover {
	box-shadow: var(--helixify-elevation-sm);
}
.hover\:elevation-md:hover {
	box-shadow: var(--helixify-elevation-md);
}
.hover\:elevation-lg:hover {
	box-shadow: var(--helixify-elevation-lg);
}
.hover\:inset:hover {
	box-shadow: var(--helixify-inset);
}
