.card-home {
	.highlight-svg {
		width: 256px;
		height: 140px;
		filter: blur(32px);
		opacity: 0;
		transform: translate(-4rem, -4rem);
		transition: opacity 0.64s var(--ease-in-out), transform 0.32s var(--ease-in);
	}

	&a {
		transform: translateY(0);
		transition: box-shadow 0.32s var(--ease-in), transform 0.32s var(--fade-in);

		.button {
			svg {
				transition: transform 0.16s var(--ease-in);
			}

			&:hover {
				svg {
					transform: translateX(0.25rem);
				}
			}
		}
	}

	&.highlight {
		.highlight-svg {
			width: 512px;
			height: 300px;
		}
	}
}

@container container-card (max-width: 32rem) {
	.card-home {
		padding: 3rem 2rem;
		&.highlight {
			padding: 3rem 2rem;
		}
	}
}
