:root {
  --helixify-dark: hsl(0, 0%, 12%);
  --helixify-light: hsl(53, 29%, 95%);
  --helixify-border-dark: hsl(0, 0%, 24%);
  --helixify-border-light: hsl(0, 0%, 64%);

  --helixify-neumorphism-out: 0px 0px 64px 0px rgba(0, 0, 0, 0.08),
    8px 8px 8px 0px rgba(102, 102, 102, 0.08) inset,
    4px 4px 4px 0px rgba(102, 102, 102, 0.04) inset,
    2px 2px 2px 0px rgba(102, 102, 102, 0.02) inset,
    -4px -4px 4px 0px rgba(0, 0, 0, 0.04) inset,
    8px 8px 8px 0px rgba(0, 0, 0, 0.08), 4px 4px 4px 0px rgba(0, 0, 0, 0.04),
    2px 2px 2px 0px rgba(0, 0, 0, 0.02);
  --helixify-neumorphism-in: -4px -4px 4px 0px rgba(102, 102, 102, 0.04),
    -2px -2px 2px 0px rgba(102, 102, 102, 0.02),
    0px 0px 4px 4px rgba(0, 0, 0, 0.04) inset,
    8px 8px 8px 0px rgba(0, 0, 0, 0.08) inset,
    4px 4px 4px 0px rgba(0, 0, 0, 0.04) inset,
    2px 2px 2px 0px rgba(0, 0, 0, 0.02) inset,
    8px 8px 8px 0px rgba(102, 102, 102, 0.08),
    4px 4px 4px 0px rgba(102, 102, 102, 0.04),
    2px 2px 2px 0px rgba(102, 102, 102, 0.02);

  --helixify-theme: var(--helixify-dark);
  --helixify-color: var(--helixify-light);
  --helixify-border: var(--helixify-border-dark);
}

.theme {
  &-helixify {
    background-color: var(--helixify-theme);
  }
}

.color {
  &-helixify {
    color: var(--helixify-color);
  }
}

.shadow {
  &-out {
    box-shadow: var(--helixify-neumorphism-out);
  }
  &-in {
    box-shadow: var(--helixify-neumorphism-in);
  }
}

.hover {
  .theme {
    &-helixify {
      background-color: var(--helixify-theme);
    }
  }
  .color {
    &-helixify {
      color: var(--helixify-color);
    }
  }
}

// @media (prefers-color-scheme: dark) {
// 	:root {
// 		--helixify-theme: var(--helixify-dark);
// 		--helixify-color: var(--helixify-light);
// 	}
// }
