:root {
	--helixify-dark: hsl(0, 0%, 12%);
	--helixify-light: hsl(53, 29%, 95%);

	--helixify-theme: var(--helixify-light);
}

.theme {
	&-helixify {
		background-color: var(--helixify-theme);
	}
}

.color {
	&-helixify {
		color: var(--helixify-dark);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--helixify-theme: var(--helixify-dark);

		.color {
			&-helixify {
				color: var(--helixify-light);
			}
		}
	}
}
