@import url("helix-color/_all.css");
@import url("helixify/_all.css");
@import url("animation/_all.css");

:root {
	/* Helix Color */
	--color-1: hsla(0, 0%, 92%, 1);
	--color-3: hsla(0, 0%, 64%, 1);

	/* Font */
	--font-family: var(--font-roboto-serif);
	--font-family-heading: var(--font-roboto);
	--heading-color: var(--color-1);
	--text-color: var(--color-3);
	--heading-1: 4rem;
	--heading-2: 2rem;
}

body {
	background-color: var(--helixify-dark);
	min-height: 100vh;
	position: relative;
}

.font-family-roboto-serif {
	font-family: var(--font-roboto-serif);
}
.font-family-roboto {
	font-family: var(--font-roboto);
}

/* 2xl - 1536px */
@media (max-width: 96rem) {
	.\32 xl\:ds-none {
		display: none;
	}
}

/* xl - 1280px */
@media (max-width: 80rem) {
	.xl\:ds-none {
		display: none;
	}
}

/* lg - 1024px (mobile) */
@media (max-width: 64rem) {
	.hx-container-md {
		padding-inline: 2rem;
	}

	.lg\:ds-none {
		display: none;
	}
}

/* md - 768px */
@media (max-width: 48rem) {
	.md\:ds-none {
		display: none;
	}
}

/* sm - 640px */
@media (max-width: 40rem) {
	.sm\:ds-none {
		display: none;
	}
}
