@import "./helixify.scss";

:root {
  --font-family-text: inherit;
  --heading-color: var(--font-primary);
  --text-color: var(--font-tertiary);
  --code-color: var(--font-tertiary);
  --header-size: calc(32px + 52px);
}

.main-body {
  padding-top: calc(2rem + 3rem + 2rem);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.64;
    background: {
      image: url("/texture/noise.png");
      repeat: repeat;
    }
  }
}

.bg-transparent {
  background-color: transparent;
}

main {
  min-height: 100dvh;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--helixify-border);
}

.p-header-height {
  padding-top: var(--header-size);
}
