@import 'https://cdn.jsdelivr.net/gh/Helixify/HelixCSS@v0.1-beta/dist/compressed/main.css';
@import 'https://cdn.jsdelivr.net/gh/Helixify/HelixColor@v0.4-beta/dist/compressed/color-scheme.css';
@import '../fonts/PollyRounded/polly-rounded.scss';

:root {
	--font-family: Polly Rounded;
	--heading-color: var(--font-primary);
	--text-color: var(--font-tertiary);
	--code-color: var(--font-tertiary);
	--header-size: calc(32px + 52px);
}

body {
	min-height: 100dvh;
}

hr {
	border: none;
	height: 1px;
}

.p-header-height {
	padding-top: var(--header-size);
}
