@import '../../../../styles/variable.scss';

// url('data:image/svg+xml,<svg width="498" height="383" viewBox="0 0 498 383" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_f_445_8507)"><path d="M0 0H192.055C192.055 0 152 12.5046 139.676 32.917C112.811 77.4135 256.244 104.702 240.839 121.194C225.433 137.686 156.135 115.495 105.271 98.7509C61.7823 84.4348 0 47.8792 0 47.8792V0Z" fill="%23CFDEFC"/></g><defs><filter id="filter0_f_445_8507" x="-256" y="-256" width="754" height="639" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="128" result="effect1_foregroundBlur_445_8507"/></filter></defs></svg>')

.overall-card {
	&-max {
		&::before {
			content: '';
			width: 242px;
			height: 127px;
			position: absolute;
			top: 0;
			left: 0;
			background-image: url('data:image/svg+xml,<svg width="242" height="127" viewBox="0 0 242 127" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0H192.055C192.055 0 152 12.5046 139.676 32.917C112.811 77.4135 256.244 104.702 240.839 121.194C225.433 137.686 156.135 115.495 105.271 98.7509C61.7823 84.4348 0 47.8792 0 47.8792V0Z" fill="%23CFDEFC"/></svg>');
		}
	}

	.title {
		&-max {
			font-size: 3em;
		}
		&-min {
			font-size: 2em;
		}
	}

	@media (max-width: $screen-lg) {
		.title {
			&-max {
				font-size: 2em;
			}
		}
	}
}
