header {
	.base {
		transform-origin: top;
	}
	.content {
		background-color: hsla(0, 0%, 100%, 0.32);
		backdrop-filter: blur(32px);
		min-height: 3rem;
		box-shadow: inset 0px 0px 0px 2px var(--bg-secondary);

		.item {
			background-color: transparent;
			&:hover {
				background-color: hsla(0, 0%, 100%, 0.32);
			}
		}
	}
	&[data-state='open'] {
		nav {
			// background-color: red;
		}
	}
}
@media (prefers-color-scheme: dark) {
	header {
		.content {
			background-color: hsla(0, 0%, 15%, 0.32);
			.item {
				&:hover {
					background-color: hsla(0, 0%, 15%, 0.32);
				}
			}
		}
	}
}
