header {
	.content {
		background-color: hsla(0, 0%, 100%, 0.32);
		backdrop-filter: blur(32px);
		box-shadow: inset 0px 0px 0px 2px var(--bg-2);
		transform-origin: top;

		.item {
			position: relative;
			text-decoration: none;
			line-height: 1;
			color: var(--color-3);
			background-color: transparent;
			transition: {
				duration: var(--duration-normal);
				property: color;
				timing-function: var(--ease-in-out);
			}
			&:after {
				z-index: -1;
				content: '';
				position: absolute;
				inset: 0;
				opacity: 0;
				transform: scale(0.8);
				border-radius: 0.5rem;
				background-color: hsla(0, 0%, 100%, 0.32);
				transition: {
					duration: var(--duration-normal);
					property: transform, opacity;
					timing-function: var(--ease-in-out);
				}
			}
			&:hover {
				color: var(--color-1);

				&:after {
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}
}
@media (prefers-color-scheme: dark) {
	header {
		.content {
			background-color: hsla(0, 0%, 15%, 0.32);
			.item {
				&:after {
					background-color: hsla(0, 0%, 15%, 0.32);
				}

				&:hover {
					&:after {
						transform: scale(1);
						opacity: 1;
					}
				}
			}
		}
	}
}
