.nav {
	background-color: hsla(0, 0%, 100%, 0.32);
	backdrop-filter: blur(32px);
	min-height: 3rem;
	box-shadow: inset 0px 0px 0px 2px var(--bg-secondary);

	@media (prefers-color-scheme: dark) {
		background-color: hsla(0, 0%, 15%, 0.32);
	}
}

.LinkItem {
	--_gap: 2rem;
	padding-inline: calc(var(--_gap) / 2);

	&[data-state='true'] {
		color: var(--bv-violet-40);
	}

	.Indicator {
		width: calc(100% - var(--_gap));
		height: 0.125rem;
		left: calc(var(--_gap) / 2);

		&[data-state='true'] {
			background-color: var(--bv-violet-40);
		}
	}
}
