.intro {
	min-height: 80dvh;
	position: relative;
	background: var(--bg-primary);
	background: linear-gradient(
		0deg,
		var(--bg-primary) 0%,
		var(--bg-secondary) 75%
	);

	.title {
		font-size: 4em;
	}

	&::before {
		z-index: 1;
		content: '';
		position: absolute;
		inset: 0;
		background-image: url('data:image/svg+xml,<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="16" y="16" width="4" height="4" rx="2" fill="%23F2F2F2"/></svg>');
	}

	& > * {
		z-index: 2;
	}
}

@media (prefers-color-scheme: dark) {
	.intro {
		&::before {
			background-image: url('data:image/svg+xml,<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="16" y="16" width="4" height="4" rx="2" fill="%23F2F2F2"/></svg>');
		}
	}
}
@media (prefers-color-scheme: dark) {
	.intro {
		&::before {
			background-image: url('data:image/svg+xml,<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="16" y="16" width="4" height="4" rx="2" fill="%23333333"/></svg>');
		}
	}
}
