.bg-primary,
.bg-1 {
	background-color: var(--bg-1);
}
.bg-secondary,
.bg-2 {
	background-color: var(--bg-2);
}
.bg-tertiary,
.bg-3 {
	background-color: var(--bg-3);
}
.bg-light-primary,
.bg-light-1 {
	background-color: var(--bg-light-1);
}
.bg-light-secondary,
.bg-light-2 {
	background-color: var(--bg-light-2);
}
.bg-light-tertiary,
.bg-light-3 {
	background-color: var(--bg-light-3);
}
.bg-dark-primary,
.bg-dark-1 {
	background-color: var(--bg-dark-1);
}
.bg-dark-secondary,
.bg-dark-2 {
	background-color: var(--bg-dark-2);
}
.bg-dark-tertiary,
.bg-dark-3 {
	background-color: var(--bg-dark-3);
}
.bg-red-light,
.bg-red-100 {
	background-color: var(--red-100);
}
.bg-red-lighten,
.bg-red-200 {
	background-color: var(--red-200);
}
.bg-red-regular,
.bg-red-300 {
	background-color: var(--red-300);
}
.bg-red-darken,
.bg-red-400 {
	background-color: var(--red-400);
}
.bg-red-dark,
.bg-red-500 {
	background-color: var(--red-500);
}
.bg-orange-light,
.bg-orange-100 {
	background-color: var(--orange-100);
}
.bg-orange-lighten,
.bg-orange-200 {
	background-color: var(--orange-200);
}
.bg-orange-regular,
.bg-orange-300 {
	background-color: var(--orange-300);
}
.bg-orange-darken,
.bg-orange-400 {
	background-color: var(--orange-400);
}
.bg-orange-dark,
.bg-orange-500 {
	background-color: var(--orange-500);
}
.bg-yellow-light,
.bg-yellow-100 {
	background-color: var(--yellow-100);
}
.bg-yellow-lighten,
.bg-yellow-200 {
	background-color: var(--yellow-200);
}
.bg-yellow-regular,
.bg-yellow-300 {
	background-color: var(--yellow-300);
}
.bg-yellow-darken,
.bg-yellow-400 {
	background-color: var(--yellow-400);
}
.bg-yellow-dark,
.bg-yellow-500 {
	background-color: var(--yellow-500);
}
.bg-green-light,
.bg-green-100 {
	background-color: var(--green-100);
}
.bg-green-lighten,
.bg-green-200 {
	background-color: var(--green-200);
}
.bg-green-regular,
.bg-green-300 {
	background-color: var(--green-300);
}
.bg-green-darken,
.bg-green-400 {
	background-color: var(--green-400);
}
.bg-green-dark,
.bg-green-500 {
	background-color: var(--green-500);
}
.bg-blue-light,
.bg-blue-100 {
	background-color: var(--blue-100);
}
.bg-blue-lighten,
.bg-blue-200 {
	background-color: var(--blue-200);
}
.bg-blue-regular,
.bg-blue-300 {
	background-color: var(--blue-300);
}
.bg-blue-darken,
.bg-blue-400 {
	background-color: var(--blue-400);
}
.bg-blue-dark,
.bg-blue-500 {
	background-color: var(--blue-500);
}
.bg-purple-light,
.bg-purple-100 {
	background-color: var(--purple-100);
}
.bg-purple-lighten,
.bg-purple-200 {
	background-color: var(--purple-200);
}
.bg-purple-regular,
.bg-purple-300 {
	background-color: var(--purple-300);
}
.bg-purple-darken,
.bg-purple-400 {
	background-color: var(--purple-400);
}
.bg-purple-dark,
.bg-purple-500 {
	background-color: var(--purple-500);
}

.color-primary,
.color-1 {
	color: var(--color-1);
}
.color-secondary,
.color-2 {
	color: var(--color-2);
}
.color-tertiary,
.color-3 {
	color: var(--color-3);
}
.color-light-primary,
.color-light-1 {
	color: var(--color-light-1);
}
.color-light-secondary,
.color-light-2 {
	color: var(--color-light-2);
}
.color-light-tertiary,
.color-light-3 {
	color: var(--color-light-3);
}
.color-dark-primary,
.color-dark-1 {
	color: var(--color-dark-1);
}
.color-dark-secondary,
.color-dark-2 {
	color: var(--color-dark-2);
}
.color-dark-tertiary,
.color-dark-3 {
	color: var(--color-dark-3);
}
.color-red-light,
.color-red-100 {
	color: var(--red-100);
}
.color-red-lighten,
.color-red-200 {
	color: var(--red-200);
}
.color-red-regular,
.color-red-300 {
	color: var(--red-300);
}
.color-red-darken,
.color-red-400 {
	color: var(--red-400);
}
.color-red-dark,
.color-red-500 {
	color: var(--red-500);
}
.color-orange-light,
.color-orange-100 {
	color: var(--orange-100);
}
.color-orange-lighten,
.color-orange-200 {
	color: var(--orange-200);
}
.color-orange-regular,
.color-orange-300 {
	color: var(--orange-300);
}
.color-orange-darken,
.color-orange-400 {
	color: var(--orange-400);
}
.color-orange-dark,
.color-orange-500 {
	color: var(--orange-500);
}
.color-yellow-light,
.color-yellow-100 {
	color: var(--yellow-100);
}
.color-yellow-lighten,
.color-yellow-200 {
	color: var(--yellow-200);
}
.color-yellow-regular,
.color-yellow-300 {
	color: var(--yellow-300);
}
.color-yellow-darken,
.color-yellow-400 {
	color: var(--yellow-400);
}
.color-yellow-dark,
.color-yellow-500 {
	color: var(--yellow-500);
}
.color-green-light,
.color-green-100 {
	color: var(--green-100);
}
.color-green-lighten,
.color-green-200 {
	color: var(--green-200);
}
.color-green-regular,
.color-green-300 {
	color: var(--green-300);
}
.color-green-darken,
.color-green-400 {
	color: var(--green-400);
}
.color-green-dark,
.color-green-500 {
	color: var(--green-500);
}
.color-blue-light,
.color-blue-100 {
	color: var(--blue-100);
}
.color-blue-lighten,
.color-blue-200 {
	color: var(--blue-200);
}
.color-blue-regular,
.color-blue-300 {
	color: var(--blue-300);
}
.color-blue-darken,
.color-blue-400 {
	color: var(--blue-400);
}
.color-blue-dark,
.color-blue-500 {
	color: var(--blue-500);
}
.color-purple-light,
.color-purple-100 {
	color: var(--purple-100);
}
.color-purple-lighten,
.color-purple-200 {
	color: var(--purple-200);
}
.color-purple-regular,
.color-purple-300 {
	color: var(--purple-300);
}
.color-purple-darken,
.color-purple-400 {
	color: var(--purple-400);
}
.color-purple-dark,
.color-purple-500 {
	color: var(--purple-500);
}

.hover\:bg-primary:hover,
.hover\:bg-1:hover {
	background-color: var(--bg-1);
}
.hover\:bg-secondary:hover,
.hover\:bg-2:hover {
	background-color: var(--bg-2);
}
.hover\:bg-tertiary:hover,
.hover\:bg-3:hover {
	background-color: var(--bg-3);
}
.hover\:bg-light-primary:hover,
.hover\:bg-light-1:hover {
	background-color: var(--bg-light-1);
}
.hover\:bg-light-secondary:hover,
.hover\:bg-light-2:hover {
	background-color: var(--bg-2);
}
.hover\:bg-light-tertiary:hover,
.hover\:bg-light-3:hover {
	background-color: var(--bg-3);
}
.hover\:bg-dark-primary:hover,
.hover\:bg-dark-1:hover {
	background-color: var(--bg-dark-1);
}
.hover\:bg-dark-secondary:hover,
.hover\:bg-dark-2:hover {
	background-color: var(--bg-dark-2);
}
.hover\:bg-dark-tertiary:hover,
.hover\:bg-dark-3:hover {
	background-color: var(--bg-dark-3);
}
.hover\:bg-red-light:hover,
.hover\:bg-red-100:hover {
	background-color: var(--red-100);
}
.hover\:bg-red-lighten:hover,
.hover\:bg-red-200:hover {
	background-color: var(--red-200);
}
.hover\:bg-red-regular:hover,
.hover\:bg-red-300:hover {
	background-color: var(--red-300);
}
.hover\:bg-red-darken:hover,
.hover\:bg-red-400:hover {
	background-color: var(--red-400);
}
.hover\:bg-red-dark:hover,
.hover\:bg-red-500:hover {
	background-color: var(--red-500);
}
.hover\:bg-orange-light:hover,
.hover\:bg-orange-100:hover {
	background-color: var(--orange-100);
}
.hover\:bg-orange-lighten:hover,
.hover\:bg-orange-200:hover {
	background-color: var(--orange-200);
}
.hover\:bg-orange-regular:hover,
.hover\:bg-orange-300:hover {
	background-color: var(--orange-300);
}
.hover\:bg-orange-darken:hover,
.hover\:bg-orange-400:hover {
	background-color: var(--orange-400);
}
.hover\:bg-orange-dark:hover,
.hover\:bg-orange-500:hover {
	background-color: var(--orange-500);
}
.hover\:bg-yellow-light:hover,
.hover\:bg-yellow-100:hover {
	background-color: var(--yellow-100);
}
.hover\:bg-yellow-lighten:hover,
.hover\:bg-yellow-200:hover {
	background-color: var(--yellow-200);
}
.hover\:bg-yellow-regular:hover,
.hover\:bg-yellow-300:hover {
	background-color: var(--yellow-300);
}
.hover\:bg-yellow-darken:hover,
.hover\:bg-yellow-400:hover {
	background-color: var(--yellow-400);
}
.hover\:bg-yellow-dark:hover,
.hover\:bg-yellow-500:hover {
	background-color: var(--yellow-500);
}
.hover\:bg-green-light:hover,
.hover\:bg-green-100:hover {
	background-color: var(--green-100);
}
.hover\:bg-green-lighten:hover,
.hover\:bg-green-200:hover {
	background-color: var(--green-200);
}
.hover\:bg-green-regular:hover,
.hover\:bg-green-300:hover {
	background-color: var(--green-300);
}
.hover\:bg-green-darken:hover,
.hover\:bg-green-400:hover {
	background-color: var(--green-400);
}
.hover\:bg-green-dark:hover,
.hover\:bg-green-500:hover {
	background-color: var(--green-500);
}
.hover\:bg-blue-light:hover,
.hover\:bg-blue-100:hover {
	background-color: var(--blue-100);
}
.hover\:bg-blue-lighten:hover,
.hover\:bg-blue-200:hover {
	background-color: var(--blue-200);
}
.hover\:bg-blue-regular:hover,
.hover\:bg-blue-300:hover {
	background-color: var(--blue-300);
}
.hover\:bg-blue-darken:hover,
.hover\:bg-blue-400:hover {
	background-color: var(--blue-400);
}
.hover\:bg-blue-dark:hover,
.hover\:bg-blue-500:hover {
	background-color: var(--blue-500);
}
.hover\:bg-purple-light:hover,
.hover\:bg-purple-100:hover {
	background-color: var(--purple-100);
}
.hover\:bg-purple-lighten:hover,
.hover\:bg-purple-200:hover {
	background-color: var(--purple-200);
}
.hover\:bg-purple-regular:hover,
.hover\:bg-purple-300:hover {
	background-color: var(--purple-300);
}
.hover\:bg-purple-darken:hover,
.hover\:bg-purple-400:hover {
	background-color: var(--purple-400);
}
.hover\:bg-purple-dark:hover,
.hover\:bg-purple-500:hover {
	background-color: var(--purple-500);
}
.hover\:color-primary:hover,
.hover\:color-1:hover {
	color: var(--color-1);
}
.hover\:color-secondary:hover,
.hover\:color-2:hover {
	color: var(--color-2);
}
.hover\:color-tertiary:hover,
.hover\:color-3:hover {
	color: var(--color-3);
}
.hover\:color-light-primary:hover,
.hover\:color-light-1:hover {
	color: var(--color-light-1);
}
.hover\:color-light-secondary:hover,
.hover\:color-light-2:hover {
	color: var(--color-light-2);
}
.hover\:color-light-tertiary:hover,
.hover\:color-light-3:hover {
	color: var(--color-light-3);
}
.hover\:color-dark-primary:hover,
.hover\:color-dark-1:hover {
	color: var(--color-dark-1);
}
.hover\:color-dark-secondary:hover,
.hover\:color-dark-2:hover {
	color: var(--color-dark-2);
}
.hover\:color-dark-tertiary:hover,
.hover\:color-dark-3:hover {
	color: var(--color-dark-3);
}
.hover\:color-red-light:hover,
.hover\:color-red-100:hover {
	color: var(--red-100);
}
.hover\:color-red-lighten:hover,
.hover\:color-red-200:hover {
	color: var(--red-200);
}
.hover\:color-red-regular:hover,
.hover\:color-red-300:hover {
	color: var(--red-300);
}
.hover\:color-red-darken:hover,
.hover\:color-red-400:hover {
	color: var(--red-400);
}
.hover\:color-red-dark:hover,
.hover\:color-red-500:hover {
	color: var(--red-500);
}
.hover\:color-orange-light:hover,
.hover\:color-orange-100:hover {
	color: var(--orange-100);
}
.hover\:color-orange-lighten:hover,
.hover\:color-orange-200:hover {
	color: var(--orange-200);
}
.hover\:color-orange-regular:hover,
.hover\:color-orange-300:hover {
	color: var(--orange-300);
}
.hover\:color-orange-darken:hover,
.hover\:color-orange-400:hover {
	color: var(--orange-400);
}
.hover\:color-orange-dark:hover,
.hover\:color-orange-500:hover {
	color: var(--orange-500);
}
.hover\:color-yellow-light:hover,
.hover\:color-yellow-100:hover {
	color: var(--yellow-100);
}
.hover\:color-yellow-lighten:hover,
.hover\:color-yellow-200:hover {
	color: var(--yellow-200);
}
.hover\:color-yellow-regular:hover,
.hover\:color-yellow-300:hover {
	color: var(--yellow-300);
}
.hover\:color-yellow-darken:hover,
.hover\:color-yellow-400:hover {
	color: var(--yellow-400);
}
.hover\:color-yellow-dark:hover,
.hover\:color-yellow-500:hover {
	color: var(--yellow-500);
}
.hover\:color-green-light:hover,
.hover\:color-green-100:hover {
	color: var(--green-100);
}
.hover\:color-green-lighten:hover,
.hover\:color-green-200:hover {
	color: var(--green-200);
}
.hover\:color-green-regular:hover,
.hover\:color-green-300:hover {
	color: var(--green-300);
}
.hover\:color-green-darken:hover,
.hover\:color-green-400:hover {
	color: var(--green-400);
}
.hover\:color-green-dark:hover,
.hover\:color-green-500:hover {
	color: var(--green-500);
}
.hover\:color-blue-light:hover,
.hover\:color-blue-100:hover {
	color: var(--blue-100);
}
.hover\:color-blue-lighten:hover,
.hover\:color-blue-200:hover {
	color: var(--blue-200);
}
.hover\:color-blue-regular:hover,
.hover\:color-blue-300:hover {
	color: var(--blue-300);
}
.hover\:color-blue-darken:hover,
.hover\:color-blue-400:hover {
	color: var(--blue-400);
}
.hover\:color-blue-dark:hover,
.hover\:color-blue-500:hover {
	color: var(--blue-500);
}
.hover\:color-purple-light:hover,
.hover\:color-purple-100:hover {
	color: var(--purple-100);
}
.hover\:color-purple-lighten:hover,
.hover\:color-purple-200:hover {
	color: var(--purple-200);
}
.hover\:color-purple-regular:hover,
.hover\:color-purple-300:hover {
	color: var(--purple-300);
}
.hover\:color-purple-darken:hover,
.hover\:color-purple-400:hover {
	color: var(--purple-400);
}
.hover\:color-purple-dark:hover,
.hover\:color-purple-500:hover {
	color: var(--purple-500);
}

@media (prefers-color-scheme: light) {
	:root {
		--bg-1: var(--bg-light-1);
		--bg-2: var(--bg-light-2);
		--bg-3: var(--bg-light-3);
		--color-1: var(--color-light-1);
		--color-2: var(--color-light-2);
		--color-3: var(--color-light-3);
	}
	.light\:bg-light-primary,
	.light\:bg-light-1 {
		background-color: var(--bg-light-1);
	}
	.light\:bg-light-secondary,
	.light\:bg-light-2 {
		background-color: var(--bg-light-2);
	}
	.light\:bg-light-tertiary,
	.light\:bg-light-3 {
		background-color: var(--bg-light-3);
	}
	.light\:bg-dark-primary,
	.light\:bg-dark-1 {
		background-color: var(--bg-dark-1);
	}
	.light\:bg-dark-secondary,
	.light\:bg-dark-2 {
		background-color: var(--bg-dark-2);
	}
	.light\:bg-dark-tertiary,
	.light\:bg-dark-3 {
		background-color: var(--bg-dark-3);
	}
	.light\:bg-red-light,
	.light\:bg-red-100 {
		background-color: var(--red-100);
	}
	.light\:bg-red-lighten,
	.light\:bg-red-200 {
		background-color: var(--red-200);
	}
	.light\:bg-red-regular,
	.light\:bg-red-300 {
		background-color: var(--red-300);
	}
	.light\:bg-red-darken,
	.light\:bg-red-400 {
		background-color: var(--red-400);
	}
	.light\:bg-red-dark,
	.light\:bg-red-500 {
		background-color: var(--red-500);
	}
	.light\:bg-orange-light,
	.light\:bg-orange-100 {
		background-color: var(--orange-100);
	}
	.light\:bg-orange-lighten,
	.light\:bg-orange-200 {
		background-color: var(--orange-200);
	}
	.light\:bg-orange-regular,
	.light\:bg-orange-300 {
		background-color: var(--orange-300);
	}
	.light\:bg-orange-darken,
	.light\:bg-orange-400 {
		background-color: var(--orange-400);
	}
	.light\:bg-orange-dark,
	.light\:bg-orange-500 {
		background-color: var(--orange-500);
	}
	.light\:bg-yellow-light,
	.light\:bg-yellow-100 {
		background-color: var(--yellow-100);
	}
	.light\:bg-yellow-lighten,
	.light\:bg-yellow-200 {
		background-color: var(--yellow-200);
	}
	.light\:bg-yellow-regular,
	.light\:bg-yellow-300 {
		background-color: var(--yellow-300);
	}
	.light\:bg-yellow-darken,
	.light\:bg-yellow-400 {
		background-color: var(--yellow-400);
	}
	.light\:bg-yellow-dark,
	.light\:bg-yellow-500 {
		background-color: var(--yellow-500);
	}
	.light\:bg-green-light,
	.light\:bg-green-100 {
		background-color: var(--green-100);
	}
	.light\:bg-green-lighten,
	.light\:bg-green-200 {
		background-color: var(--green-200);
	}
	.light\:bg-green-regular,
	.light\:bg-green-300 {
		background-color: var(--green-300);
	}
	.light\:bg-green-darken,
	.light\:bg-green-400 {
		background-color: var(--green-400);
	}
	.light\:bg-green-dark,
	.light\:bg-green-500 {
		background-color: var(--green-500);
	}
	.light\:bg-blue-light,
	.light\:bg-blue-100 {
		background-color: var(--blue-100);
	}
	.light\:bg-blue-lighten,
	.light\:bg-blue-200 {
		background-color: var(--blue-200);
	}
	.light\:bg-blue-regular,
	.light\:bg-blue-300 {
		background-color: var(--blue-300);
	}
	.light\:bg-blue-darken,
	.light\:bg-blue-400 {
		background-color: var(--blue-400);
	}
	.light\:bg-blue-dark,
	.light\:bg-blue-500 {
		background-color: var(--blue-500);
	}
	.light\:bg-purple-light,
	.light\:bg-purple-100 {
		background-color: var(--purple-100);
	}
	.light\:bg-purple-lighten,
	.light\:bg-purple-200 {
		background-color: var(--purple-200);
	}
	.light\:bg-purple-regular,
	.light\:bg-purple-300 {
		background-color: var(--purple-300);
	}
	.light\:bg-purple-darken,
	.light\:bg-purple-400 {
		background-color: var(--purple-400);
	}
	.light\:bg-purple-dark,
	.light\:bg-purple-500 {
		background-color: var(--purple-500);
	}
	.light\:color-light-primary,
	.light\:color-light-1 {
		color: var(--color-light-1);
	}
	.light\:color-light-secondary,
	.light\:color-light-2 {
		color: var(--color-light-2);
	}
	.light\:color-light-tertiary,
	.light\:color-light-3 {
		color: var(--color-light-3);
	}
	.light\:color-dark-primary,
	.light\:color-dark-1 {
		color: var(--color-dark-1);
	}
	.light\:color-dark-secondary,
	.light\:color-dark-2 {
		color: var(--color-dark-2);
	}
	.light\:color-dark-tertiary,
	.light\:color-dark-3 {
		color: var(--color-dark-3);
	}
	.light\:color-red-light,
	.light\:color-red-100 {
		color: var(--red-100);
	}
	.light\:color-red-lighten,
	.light\:color-red-200 {
		color: var(--red-200);
	}
	.light\:color-red-regular,
	.light\:color-red-300 {
		color: var(--red-300);
	}
	.light\:color-red-darken,
	.light\:color-red-400 {
		color: var(--red-400);
	}
	.light\:color-red-dark,
	.light\:color-red-500 {
		color: var(--red-500);
	}
	.light\:color-orange-light,
	.light\:color-orange-100 {
		color: var(--orange-100);
	}
	.light\:color-orange-lighten,
	.light\:color-orange-200 {
		color: var(--orange-200);
	}
	.light\:color-orange-regular,
	.light\:color-orange-300 {
		color: var(--orange-300);
	}
	.light\:color-orange-darken,
	.light\:color-orange-400 {
		color: var(--orange-400);
	}
	.light\:color-orange-dark,
	.light\:color-orange-500 {
		color: var(--orange-500);
	}
	.light\:color-yellow-light,
	.light\:color-yellow-100 {
		color: var(--yellow-100);
	}
	.light\:color-yellow-lighten,
	.light\:color-yellow-200 {
		color: var(--yellow-200);
	}
	.light\:color-yellow-regular,
	.light\:color-yellow-300 {
		color: var(--yellow-300);
	}
	.light\:color-yellow-darken,
	.light\:color-yellow-400 {
		color: var(--yellow-400);
	}
	.light\:color-yellow-dark,
	.light\:color-yellow-500 {
		color: var(--yellow-500);
	}
	.light\:color-green-light,
	.light\:color-green-100 {
		color: var(--green-100);
	}
	.light\:color-green-lighten,
	.light\:color-green-200 {
		color: var(--green-200);
	}
	.light\:color-green-regular,
	.light\:color-green-300 {
		color: var(--green-300);
	}
	.light\:color-green-darken,
	.light\:color-green-400 {
		color: var(--green-400);
	}
	.light\:color-green-dark,
	.light\:color-green-500 {
		color: var(--green-500);
	}
	.light\:color-blue-light,
	.light\:color-blue-100 {
		color: var(--blue-100);
	}
	.light\:color-blue-lighten,
	.light\:color-blue-200 {
		color: var(--blue-200);
	}
	.light\:color-blue-regular,
	.light\:color-blue-300 {
		color: var(--blue-300);
	}
	.light\:color-blue-darken,
	.light\:color-blue-400 {
		color: var(--blue-400);
	}
	.light\:color-blue-dark,
	.light\:color-blue-500 {
		color: var(--blue-500);
	}
	.light\:color-purple-light,
	.light\:color-purple-100 {
		color: var(--purple-100);
	}
	.light\:color-purple-lighten,
	.light\:color-purple-200 {
		color: var(--purple-200);
	}
	.light\:color-purple-regular,
	.light\:color-purple-300 {
		color: var(--purple-300);
	}
	.light\:color-purple-darken,
	.light\:color-purple-400 {
		color: var(--purple-400);
	}
	.light\:color-purple-dark,
	.light\:color-purple-500 {
		color: var(--purple-500);
	}
	.light\:hover\:bg-light-primary:hover,
	.light\:hover\:bg-light-1:hover {
		background-color: var(--background-color-light-1);
	}
	.light\:hover\:bg-light-secondary:hover,
	.light\:hover\:bg-light-2:hover {
		background-color: var(--background-color-light-2);
	}
	.light\:hover\:bg-light-tertiary:hover,
	.light\:hover\:bg-light-3:hover {
		background-color: var(--background-color-light-3);
	}
	.light\:hover\:bg-dark-primary:hover,
	.light\:hover\:bg-dark-1:hover {
		background-color: var(--background-color-dark-1);
	}
	.light\:hover\:bg-dark-secondary:hover,
	.light\:hover\:bg-dark-2:hover {
		background-color: var(--background-color-dark-2);
	}
	.light\:hover\:bg-dark-tertiary:hover,
	.light\:hover\:bg-dark-3:hover {
		background-color: var(--background-color-dark-3);
	}
	.light\:hover\:bg-red-light:hover,
	.light\:hover\:bg-red-100:hover {
		background-color: var(--red-100);
	}
	.light\:hover\:bg-red-lighten:hover,
	.light\:hover\:bg-red-200:hover {
		background-color: var(--red-200);
	}
	.light\:hover\:bg-red-regular:hover,
	.light\:hover\:bg-red-300:hover {
		background-color: var(--red-300);
	}
	.light\:hover\:bg-red-darken:hover,
	.light\:hover\:bg-red-400:hover {
		background-color: var(--red-400);
	}
	.light\:hover\:bg-red-dark:hover,
	.light\:hover\:bg-red-500:hover {
		background-color: var(--red-500);
	}
	.light\:hover\:bg-orange-light:hover,
	.light\:hover\:bg-orange-100:hover {
		background-color: var(--orange-100);
	}
	.light\:hover\:bg-orange-lighten:hover,
	.light\:hover\:bg-orange-200:hover {
		background-color: var(--orange-200);
	}
	.light\:hover\:bg-orange-regular:hover,
	.light\:hover\:bg-orange-300:hover {
		background-color: var(--orange-300);
	}
	.light\:hover\:bg-orange-darken:hover,
	.light\:hover\:bg-orange-400:hover {
		background-color: var(--orange-400);
	}
	.light\:hover\:bg-orange-dark:hover,
	.light\:hover\:bg-orange-500:hover {
		background-color: var(--orange-500);
	}
	.light\:hover\:bg-yellow-light:hover,
	.light\:hover\:bg-yellow-100:hover {
		background-color: var(--yellow-100);
	}
	.light\:hover\:bg-yellow-lighten:hover,
	.light\:hover\:bg-yellow-200:hover {
		background-color: var(--yellow-200);
	}
	.light\:hover\:bg-yellow-regular:hover,
	.light\:hover\:bg-yellow-300:hover {
		background-color: var(--yellow-300);
	}
	.light\:hover\:bg-yellow-darken:hover,
	.light\:hover\:bg-yellow-400:hover {
		background-color: var(--yellow-400);
	}
	.light\:hover\:bg-yellow-dark:hover,
	.light\:hover\:bg-yellow-500:hover {
		background-color: var(--yellow-500);
	}
	.light\:hover\:bg-green-light:hover,
	.light\:hover\:bg-green-100:hover {
		background-color: var(--green-100);
	}
	.light\:hover\:bg-green-lighten:hover,
	.light\:hover\:bg-green-200:hover {
		background-color: var(--green-200);
	}
	.light\:hover\:bg-green-regular:hover,
	.light\:hover\:bg-green-300:hover {
		background-color: var(--green-300);
	}
	.light\:hover\:bg-green-darken:hover,
	.light\:hover\:bg-green-400:hover {
		background-color: var(--green-400);
	}
	.light\:hover\:bg-green-dark:hover,
	.light\:hover\:bg-green-500:hover {
		background-color: var(--green-500);
	}
	.light\:hover\:bg-blue-light:hover,
	.light\:hover\:bg-blue-100:hover {
		background-color: var(--blue-100);
	}
	.light\:hover\:bg-blue-lighten:hover,
	.light\:hover\:bg-blue-200:hover {
		background-color: var(--blue-200);
	}
	.light\:hover\:bg-blue-regular:hover,
	.light\:hover\:bg-blue-300:hover {
		background-color: var(--blue-300);
	}
	.light\:hover\:bg-blue-darken:hover,
	.light\:hover\:bg-blue-400:hover {
		background-color: var(--blue-400);
	}
	.light\:hover\:bg-blue-dark:hover,
	.light\:hover\:bg-blue-500:hover {
		background-color: var(--blue-500);
	}
	.light\:hover\:bg-purple-light:hover,
	.light\:hover\:bg-purple-100:hover {
		background-color: var(--purple-100);
	}
	.light\:hover\:bg-purple-lighten:hover,
	.light\:hover\:bg-purple-200:hover {
		background-color: var(--purple-200);
	}
	.light\:hover\:bg-purple-regular:hover,
	.light\:hover\:bg-purple-300:hover {
		background-color: var(--purple-300);
	}
	.light\:hover\:bg-purple-darken:hover,
	.light\:hover\:bg-purple-400:hover {
		background-color: var(--purple-400);
	}
	.light\:hover\:bg-purple-dark:hover,
	.light\:hover\:bg-purple-500:hover {
		background-color: var(--purple-500);
	}
	.light\:hover\:color-light-primary:hover,
	.light\:hover\:color-light-1:hover {
		color: var(--color-light-1);
	}
	.light\:hover\:color-light-secondary:hover,
	.light\:hover\:color-light-2:hover {
		color: var(--color-light-2);
	}
	.light\:hover\:color-light-tertiary:hover,
	.light\:hover\:color-light-3:hover {
		color: var(--color-light-3);
	}
	.light\:hover\:color-dark-primary:hover,
	.light\:hover\:color-dark-1:hover {
		color: var(--color-dark-1);
	}
	.light\:hover\:color-dark-secondary:hover,
	.light\:hover\:color-dark-2:hover {
		color: var(--color-dark-2);
	}
	.light\:hover\:color-dark-tertiary:hover,
	.light\:hover\:color-dark-3:hover {
		color: var(--color-dark-3);
	}
	.light\:hover\:color-red-light:hover,
	.light\:hover\:color-red-100:hover {
		color: var(--red-100);
	}
	.light\:hover\:color-red-lighten:hover,
	.light\:hover\:color-red-200:hover {
		color: var(--red-200);
	}
	.light\:hover\:color-red-regular:hover,
	.light\:hover\:color-red-300:hover {
		color: var(--red-300);
	}
	.light\:hover\:color-red-darken:hover,
	.light\:hover\:color-red-400:hover {
		color: var(--red-400);
	}
	.light\:hover\:color-red-dark:hover,
	.light\:hover\:color-red-500:hover {
		color: var(--red-500);
	}
	.light\:hover\:color-orange-light:hover,
	.light\:hover\:color-orange-100:hover {
		color: var(--orange-100);
	}
	.light\:hover\:color-orange-lighten:hover,
	.light\:hover\:color-orange-200:hover {
		color: var(--orange-200);
	}
	.light\:hover\:color-orange-regular:hover,
	.light\:hover\:color-orange-300:hover {
		color: var(--orange-300);
	}
	.light\:hover\:color-orange-darken:hover,
	.light\:hover\:color-orange-400:hover {
		color: var(--orange-400);
	}
	.light\:hover\:color-orange-dark:hover,
	.light\:hover\:color-orange-500:hover {
		color: var(--orange-500);
	}
	.light\:hover\:color-yellow-light:hover,
	.light\:hover\:color-yellow-100:hover {
		color: var(--yellow-100);
	}
	.light\:hover\:color-yellow-lighten:hover,
	.light\:hover\:color-yellow-200:hover {
		color: var(--yellow-200);
	}
	.light\:hover\:color-yellow-regular:hover,
	.light\:hover\:color-yellow-300:hover {
		color: var(--yellow-300);
	}
	.light\:hover\:color-yellow-darken:hover,
	.light\:hover\:color-yellow-400:hover {
		color: var(--yellow-400);
	}
	.light\:hover\:color-yellow-dark:hover,
	.light\:hover\:color-yellow-500:hover {
		color: var(--yellow-500);
	}
	.light\:hover\:color-green-light:hover,
	.light\:hover\:color-green-100:hover {
		color: var(--green-100);
	}
	.light\:hover\:color-green-lighten:hover,
	.light\:hover\:color-green-200:hover {
		color: var(--green-200);
	}
	.light\:hover\:color-green-regular:hover,
	.light\:hover\:color-green-300:hover {
		color: var(--green-300);
	}
	.light\:hover\:color-green-darken:hover,
	.light\:hover\:color-green-400:hover {
		color: var(--green-400);
	}
	.light\:hover\:color-green-dark:hover,
	.light\:hover\:color-green-500:hover {
		color: var(--green-500);
	}
	.light\:hover\:color-blue-light:hover,
	.light\:hover\:color-blue-100:hover {
		color: var(--blue-100);
	}
	.light\:hover\:color-blue-lighten:hover,
	.light\:hover\:color-blue-200:hover {
		color: var(--blue-200);
	}
	.light\:hover\:color-blue-regular:hover,
	.light\:hover\:color-blue-300:hover {
		color: var(--blue-300);
	}
	.light\:hover\:color-blue-darken:hover,
	.light\:hover\:color-blue-400:hover {
		color: var(--blue-400);
	}
	.light\:hover\:color-blue-dark:hover,
	.light\:hover\:color-blue-500:hover {
		color: var(--blue-500);
	}
	.light\:hover\:color-purple-light:hover,
	.light\:hover\:color-purple-100:hover {
		color: var(--purple-100);
	}
	.light\:hover\:color-purple-lighten:hover,
	.light\:hover\:color-purple-200:hover {
		color: var(--purple-200);
	}
	.light\:hover\:color-purple-regular:hover,
	.light\:hover\:color-purple-300:hover {
		color: var(--purple-300);
	}
	.light\:hover\:color-purple-darken:hover,
	.light\:hover\:color-purple-400:hover {
		color: var(--purple-400);
	}
	.light\:hover\:color-purple-dark:hover,
	.light\:hover\:color-purple-500:hover {
		color: var(--purple-500);
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg-1: var(--bg-dark-1);
		--bg-2: var(--bg-dark-2);
		--bg-3: var(--bg-dark-3);
		--color-1: var(--color-dark-1);
		--color-2: var(--color-dark-2);
		--color-3: var(--color-dark-3);
	}
	.dark\:bg-light-primary,
	.dark\:bg-light-1 {
		background-color: var(--bg-light-1);
	}
	.dark\:bg-light-secondary,
	.dark\:bg-light-2 {
		background-color: var(--bg-light-2);
	}
	.dark\:bg-light-tertiary,
	.dark\:bg-light-3 {
		background-color: var(--bg-light-3);
	}
	.dark\:bg-dark-primary,
	.dark\:bg-dark-1 {
		background-color: var(--bg-dark-1);
	}
	.dark\:bg-dark-secondary,
	.dark\:bg-dark-2 {
		background-color: var(--bg-dark-2);
	}
	.dark\:bg-dark-tertiary,
	.dark\:bg-dark-3 {
		background-color: var(--bg-dark-3);
	}
	.dark\:bg-red-light,
	.dark\:bg-red-100 {
		background-color: var(--red-100);
	}
	.dark\:bg-red-lighten,
	.dark\:bg-red-200 {
		background-color: var(--red-200);
	}
	.dark\:bg-red-regular,
	.dark\:bg-red-300 {
		background-color: var(--red-300);
	}
	.dark\:bg-red-darken,
	.dark\:bg-red-400 {
		background-color: var(--red-400);
	}
	.dark\:bg-red-dark,
	.dark\:bg-red-500 {
		background-color: var(--red-500);
	}
	.dark\:bg-orange-light,
	.dark\:bg-orange-100 {
		background-color: var(--orange-100);
	}
	.dark\:bg-orange-lighten,
	.dark\:bg-orange-200 {
		background-color: var(--orange-200);
	}
	.dark\:bg-orange-regular,
	.dark\:bg-orange-300 {
		background-color: var(--orange-300);
	}
	.dark\:bg-orange-darken,
	.dark\:bg-orange-400 {
		background-color: var(--orange-400);
	}
	.dark\:bg-orange-dark,
	.dark\:bg-orange-500 {
		background-color: var(--orange-500);
	}
	.dark\:bg-yellow-light,
	.dark\:bg-yellow-100 {
		background-color: var(--yellow-100);
	}
	.dark\:bg-yellow-lighten,
	.dark\:bg-yellow-200 {
		background-color: var(--yellow-200);
	}
	.dark\:bg-yellow-regular,
	.dark\:bg-yellow-300 {
		background-color: var(--yellow-300);
	}
	.dark\:bg-yellow-darken,
	.dark\:bg-yellow-400 {
		background-color: var(--yellow-400);
	}
	.dark\:bg-yellow-dark,
	.dark\:bg-yellow-500 {
		background-color: var(--yellow-500);
	}
	.dark\:bg-green-light,
	.dark\:bg-green-100 {
		background-color: var(--green-100);
	}
	.dark\:bg-green-lighten,
	.dark\:bg-green-200 {
		background-color: var(--green-200);
	}
	.dark\:bg-green-regular,
	.dark\:bg-green-300 {
		background-color: var(--green-300);
	}
	.dark\:bg-green-darken,
	.dark\:bg-green-400 {
		background-color: var(--green-400);
	}
	.dark\:bg-green-dark,
	.dark\:bg-green-500 {
		background-color: var(--green-500);
	}
	.dark\:bg-blue-light,
	.dark\:bg-blue-100 {
		background-color: var(--blue-100);
	}
	.dark\:bg-blue-lighten,
	.dark\:bg-blue-200 {
		background-color: var(--blue-200);
	}
	.dark\:bg-blue-regular,
	.dark\:bg-blue-300 {
		background-color: var(--blue-300);
	}
	.dark\:bg-blue-darken,
	.dark\:bg-blue-400 {
		background-color: var(--blue-400);
	}
	.dark\:bg-blue-dark,
	.dark\:bg-blue-500 {
		background-color: var(--blue-500);
	}
	.dark\:bg-purple-light,
	.dark\:bg-purple-100 {
		background-color: var(--purple-100);
	}
	.dark\:bg-purple-lighten,
	.dark\:bg-purple-200 {
		background-color: var(--purple-200);
	}
	.dark\:bg-purple-regular,
	.dark\:bg-purple-300 {
		background-color: var(--purple-300);
	}
	.dark\:bg-purple-darken,
	.dark\:bg-purple-400 {
		background-color: var(--purple-400);
	}
	.dark\:bg-purple-dark,
	.dark\:bg-purple-500 {
		background-color: var(--purple-500);
	}
	.dark\:color-light-primary,
	.dark\:color-light-1 {
		color: var(--color-light-1);
	}
	.dark\:color-light-secondary,
	.dark\:color-light-2 {
		color: var(--color-light-2);
	}
	.dark\:color-light-tertiary,
	.dark\:color-light-3 {
		color: var(--color-light-3);
	}
	.dark\:color-dark-primary,
	.dark\:color-dark-1 {
		color: var(--color-dark-1);
	}
	.dark\:color-dark-secondary,
	.dark\:color-dark-2 {
		color: var(--color-dark-2);
	}
	.dark\:color-dark-tertiary,
	.dark\:color-dark-3 {
		color: var(--color-dark-3);
	}
	.dark\:color-red-light,
	.dark\:color-red-100 {
		color: var(--red-100);
	}
	.dark\:color-red-lighten,
	.dark\:color-red-200 {
		color: var(--red-200);
	}
	.dark\:color-red-regular,
	.dark\:color-red-300 {
		color: var(--red-300);
	}
	.dark\:color-red-darken,
	.dark\:color-red-400 {
		color: var(--red-400);
	}
	.dark\:color-red-dark,
	.dark\:color-red-500 {
		color: var(--red-500);
	}
	.dark\:color-orange-light,
	.dark\:color-orange-100 {
		color: var(--orange-100);
	}
	.dark\:color-orange-lighten,
	.dark\:color-orange-200 {
		color: var(--orange-200);
	}
	.dark\:color-orange-regular,
	.dark\:color-orange-300 {
		color: var(--orange-300);
	}
	.dark\:color-orange-darken,
	.dark\:color-orange-400 {
		color: var(--orange-400);
	}
	.dark\:color-orange-dark,
	.dark\:color-orange-500 {
		color: var(--orange-500);
	}
	.dark\:color-yellow-light,
	.dark\:color-yellow-100 {
		color: var(--yellow-100);
	}
	.dark\:color-yellow-lighten,
	.dark\:color-yellow-200 {
		color: var(--yellow-200);
	}
	.dark\:color-yellow-regular,
	.dark\:color-yellow-300 {
		color: var(--yellow-300);
	}
	.dark\:color-yellow-darken,
	.dark\:color-yellow-400 {
		color: var(--yellow-400);
	}
	.dark\:color-yellow-dark,
	.dark\:color-yellow-500 {
		color: var(--yellow-500);
	}
	.dark\:color-green-light,
	.dark\:color-green-100 {
		color: var(--green-100);
	}
	.dark\:color-green-lighten,
	.dark\:color-green-200 {
		color: var(--green-200);
	}
	.dark\:color-green-regular,
	.dark\:color-green-300 {
		color: var(--green-300);
	}
	.dark\:color-green-darken,
	.dark\:color-green-400 {
		color: var(--green-400);
	}
	.dark\:color-green-dark,
	.dark\:color-green-500 {
		color: var(--green-500);
	}
	.dark\:color-blue-light,
	.dark\:color-blue-100 {
		color: var(--blue-100);
	}
	.dark\:color-blue-lighten,
	.dark\:color-blue-200 {
		color: var(--blue-200);
	}
	.dark\:color-blue-regular,
	.dark\:color-blue-300 {
		color: var(--blue-300);
	}
	.dark\:color-blue-darken,
	.dark\:color-blue-400 {
		color: var(--blue-400);
	}
	.dark\:color-blue-dark,
	.dark\:color-blue-500 {
		color: var(--blue-500);
	}
	.dark\:color-purple-light,
	.dark\:color-purple-100 {
		color: var(--purple-100);
	}
	.dark\:color-purple-lighten,
	.dark\:color-purple-200 {
		color: var(--purple-200);
	}
	.dark\:color-purple-regular,
	.dark\:color-purple-300 {
		color: var(--purple-300);
	}
	.dark\:color-purple-darken,
	.dark\:color-purple-400 {
		color: var(--purple-400);
	}
	.dark\:color-purple-dark,
	.dark\:color-purple-500 {
		color: var(--purple-500);
	}
	.dark\:hover\:bg-light-primary:hover,
	.dark\:hover\:bg-light-1:hover {
		background-color: var(--bg-light-1);
	}
	.dark\:hover\:bg-light-secondary:hover,
	.dark\:hover\:bg-light-2:hover {
		background-color: var(--bg-light-2);
	}
	.dark\:hover\:bg-light-tertiary:hover,
	.dark\:hover\:bg-light-3:hover {
		background-color: var(--bg-light-3);
	}
	.dark\:hover\:bg-dark-primary:hover,
	.dark\:hover\:bg-dark-1:hover {
		background-color: var(--bg-dark-1);
	}
	.dark\:hover\:bg-dark-secondary:hover,
	.dark\:hover\:bg-dark-2:hover {
		background-color: var(--bg-dark-2);
	}
	.dark\:hover\:bg-dark-tertiary:hover,
	.dark\:hover\:bg-dark-3:hover {
		background-color: var(--bg-dark-3);
	}
	.dark\:hover\:bg-red-light:hover,
	.dark\:hover\:bg-red-100:hover {
		background-color: var(--red-100);
	}
	.dark\:hover\:bg-red-lighten:hover,
	.dark\:hover\:bg-red-200:hover {
		background-color: var(--red-200);
	}
	.dark\:hover\:bg-red-regular:hover,
	.dark\:hover\:bg-red-300:hover {
		background-color: var(--red-300);
	}
	.dark\:hover\:bg-red-darken:hover,
	.dark\:hover\:bg-red-400:hover {
		background-color: var(--red-400);
	}
	.dark\:hover\:bg-red-dark:hover,
	.dark\:hover\:bg-red-500:hover {
		background-color: var(--red-500);
	}
	.dark\:hover\:bg-orange-light:hover,
	.dark\:hover\:bg-orange-100:hover {
		background-color: var(--orange-100);
	}
	.dark\:hover\:bg-orange-lighten:hover,
	.dark\:hover\:bg-orange-200:hover {
		background-color: var(--orange-200);
	}
	.dark\:hover\:bg-orange-regular:hover,
	.dark\:hover\:bg-orange-300:hover {
		background-color: var(--orange-300);
	}
	.dark\:hover\:bg-orange-darken:hover,
	.dark\:hover\:bg-orange-400:hover {
		background-color: var(--orange-400);
	}
	.dark\:hover\:bg-orange-dark:hover,
	.dark\:hover\:bg-orange-500:hover {
		background-color: var(--orange-500);
	}
	.dark\:hover\:bg-yellow-light:hover,
	.dark\:hover\:bg-yellow-100:hover {
		background-color: var(--yellow-100);
	}
	.dark\:hover\:bg-yellow-lighten:hover,
	.dark\:hover\:bg-yellow-200:hover {
		background-color: var(--yellow-200);
	}
	.dark\:hover\:bg-yellow-regular:hover,
	.dark\:hover\:bg-yellow-300:hover {
		background-color: var(--yellow-300);
	}
	.dark\:hover\:bg-yellow-darken:hover,
	.dark\:hover\:bg-yellow-400:hover {
		background-color: var(--yellow-400);
	}
	.dark\:hover\:bg-yellow-dark:hover,
	.dark\:hover\:bg-yellow-500:hover {
		background-color: var(--yellow-500);
	}
	.dark\:hover\:bg-green-light:hover,
	.dark\:hover\:bg-green-100:hover {
		background-color: var(--green-100);
	}
	.dark\:hover\:bg-green-lighten:hover,
	.dark\:hover\:bg-green-200:hover {
		background-color: var(--green-200);
	}
	.dark\:hover\:bg-green-regular:hover,
	.dark\:hover\:bg-green-300:hover {
		background-color: var(--green-300);
	}
	.dark\:hover\:bg-green-darken:hover,
	.dark\:hover\:bg-green-400:hover {
		background-color: var(--green-400);
	}
	.dark\:hover\:bg-green-dark:hover,
	.dark\:hover\:bg-green-500:hover {
		background-color: var(--green-500);
	}
	.dark\:hover\:bg-blue-light:hover,
	.dark\:hover\:bg-blue-100:hover {
		background-color: var(--blue-100);
	}
	.dark\:hover\:bg-blue-lighten:hover,
	.dark\:hover\:bg-blue-200:hover {
		background-color: var(--blue-200);
	}
	.dark\:hover\:bg-blue-regular:hover,
	.dark\:hover\:bg-blue-300:hover {
		background-color: var(--blue-300);
	}
	.dark\:hover\:bg-blue-darken:hover,
	.dark\:hover\:bg-blue-400:hover {
		background-color: var(--blue-400);
	}
	.dark\:hover\:bg-blue-dark:hover,
	.dark\:hover\:bg-blue-500:hover {
		background-color: var(--blue-500);
	}
	.dark\:hover\:bg-purple-light:hover,
	.dark\:hover\:bg-purple-100:hover {
		background-color: var(--purple-100);
	}
	.dark\:hover\:bg-purple-lighten:hover,
	.dark\:hover\:bg-purple-200:hover {
		background-color: var(--purple-200);
	}
	.dark\:hover\:bg-purple-regular:hover,
	.dark\:hover\:bg-purple-300:hover {
		background-color: var(--purple-300);
	}
	.dark\:hover\:bg-purple-darken:hover,
	.dark\:hover\:bg-purple-400:hover {
		background-color: var(--purple-400);
	}
	.dark\:hover\:bg-purple-dark:hover,
	.dark\:hover\:bg-purple-500:hover {
		background-color: var(--purple-500);
	}
	.dark\:hover\:color-light-primary:hover,
	.dark\:hover\:color-light-1:hover {
		color: var(--color-light-1);
	}
	.dark\:hover\:color-light-secondary:hover,
	.dark\:hover\:color-light-2:hover {
		color: var(--color-light-2);
	}
	.dark\:hover\:color-light-tertiary:hover,
	.dark\:hover\:color-light-3:hover {
		color: var(--color-light-3);
	}
	.dark\:hover\:color-dark-primary:hover,
	.dark\:hover\:color-dark-1:hover {
		color: var(--color-dark-1);
	}
	.dark\:hover\:color-dark-secondary:hover,
	.dark\:hover\:color-dark-2:hover {
		color: var(--color-dark-2);
	}
	.dark\:hover\:color-dark-tertiary:hover,
	.dark\:hover\:color-dark-3:hover {
		color: var(--color-dark-3);
	}
	.dark\:hover\:color-red-light:hover,
	.dark\:hover\:color-red-100:hover {
		color: var(--red-100);
	}
	.dark\:hover\:color-red-lighten:hover,
	.dark\:hover\:color-red-200:hover {
		color: var(--red-200);
	}
	.dark\:hover\:color-red-regular:hover,
	.dark\:hover\:color-red-300:hover {
		color: var(--red-300);
	}
	.dark\:hover\:color-red-darken:hover,
	.dark\:hover\:color-red-400:hover {
		color: var(--red-400);
	}
	.dark\:hover\:color-red-dark:hover,
	.dark\:hover\:color-red-500:hover {
		color: var(--red-500);
	}
	.dark\:hover\:color-orange-light:hover,
	.dark\:hover\:color-orange-100:hover {
		color: var(--orange-100);
	}
	.dark\:hover\:color-orange-lighten:hover,
	.dark\:hover\:color-orange-200:hover {
		color: var(--orange-200);
	}
	.dark\:hover\:color-orange-regular:hover,
	.dark\:hover\:color-orange-300:hover {
		color: var(--orange-300);
	}
	.dark\:hover\:color-orange-darken:hover,
	.dark\:hover\:color-orange-400:hover {
		color: var(--orange-400);
	}
	.dark\:hover\:color-orange-dark:hover,
	.dark\:hover\:color-orange-500:hover {
		color: var(--orange-500);
	}
	.dark\:hover\:color-yellow-light:hover,
	.dark\:hover\:color-yellow-100:hover {
		color: var(--yellow-100);
	}
	.dark\:hover\:color-yellow-lighten:hover,
	.dark\:hover\:color-yellow-200:hover {
		color: var(--yellow-200);
	}
	.dark\:hover\:color-yellow-regular:hover,
	.dark\:hover\:color-yellow-300:hover {
		color: var(--yellow-300);
	}
	.dark\:hover\:color-yellow-darken:hover,
	.dark\:hover\:color-yellow-400:hover {
		color: var(--yellow-400);
	}
	.dark\:hover\:color-yellow-dark:hover,
	.dark\:hover\:color-yellow-500:hover {
		color: var(--yellow-500);
	}
	.dark\:hover\:color-green-light:hover,
	.dark\:hover\:color-green-100:hover {
		color: var(--green-100);
	}
	.dark\:hover\:color-green-lighten:hover,
	.dark\:hover\:color-green-200:hover {
		color: var(--green-200);
	}
	.dark\:hover\:color-green-regular:hover,
	.dark\:hover\:color-green-300:hover {
		color: var(--green-300);
	}
	.dark\:hover\:color-green-darken:hover,
	.dark\:hover\:color-green-400:hover {
		color: var(--green-400);
	}
	.dark\:hover\:color-green-dark:hover,
	.dark\:hover\:color-green-500:hover {
		color: var(--green-500);
	}
	.dark\:hover\:color-blue-light:hover,
	.dark\:hover\:color-blue-100:hover {
		color: var(--blue-100);
	}
	.dark\:hover\:color-blue-lighten:hover,
	.dark\:hover\:color-blue-200:hover {
		color: var(--blue-200);
	}
	.dark\:hover\:color-blue-regular:hover,
	.dark\:hover\:color-blue-300:hover {
		color: var(--blue-300);
	}
	.dark\:hover\:color-blue-darken:hover,
	.dark\:hover\:color-blue-400:hover {
		color: var(--blue-400);
	}
	.dark\:hover\:color-blue-dark:hover,
	.dark\:hover\:color-blue-500:hover {
		color: var(--blue-500);
	}
	.dark\:hover\:color-purple-light:hover,
	.dark\:hover\:color-purple-100:hover {
		color: var(--purple-100);
	}
	.dark\:hover\:color-purple-lighten:hover,
	.dark\:hover\:color-purple-200:hover {
		color: var(--purple-200);
	}
	.dark\:hover\:color-purple-regular:hover,
	.dark\:hover\:color-purple-300:hover {
		color: var(--purple-300);
	}
	.dark\:hover\:color-purple-darken:hover,
	.dark\:hover\:color-purple-400:hover {
		color: var(--purple-400);
	}
	.dark\:hover\:color-purple-dark:hover,
	.dark\:hover\:color-purple-500:hover {
		color: var(--purple-500);
	}
}
