:root {
  --hsl-base: 0, 0%;
  --bg-light-1: hsla(var(--hsl-base), 100%, 1);
  --bg-light-2: hsla(var(--hsl-base), 95%, 1);
  --bg-light-3: hsla(var(--hsl-base), 90%, 1);
  --bg-dark-1: hsla(var(--hsl-base), 5%, 1);
  --bg-dark-2: hsla(var(--hsl-base), 10%, 1);
  --bg-dark-3: hsla(var(--hsl-base), 15%, 1);
  --color-light-1: hsla(var(--hsl-base), 5%, 1);
  --color-light-2: hsla(var(--hsl-base), 20%, 1);
  --color-light-3: hsla(var(--hsl-base), 40%, 1);
  --color-dark-1: hsla(var(--hsl-base), 100%, 1);
  --color-dark-2: hsla(var(--hsl-base), 95%, 1);
  --color-dark-3: hsla(var(--hsl-base), 90%, 1);
  --hsl-red: 5, 80%;
  --hsl-orange: 20, 90%;
  --hsl-yellow: 45, 100%;
  --hsl-green: 135, 60%;
  --hsl-blue: 220, 90%;
  --hsl-purple: 275, 100%;
  --red-100: hsla(var(--hsl-red), 90%, 1);
  --red-200: hsla(var(--hsl-red), 80%, 1);
  --red-300: hsla(var(--hsl-red), 60%, 1);
  --red-400: hsla(var(--hsl-red), 40%, 1);
  --red-500: hsla(var(--hsl-red), 30%, 1);
  --orange-100: hsla(var(--hsl-orange), 90%, 1);
  --orange-200: hsla(var(--hsl-orange), 80%, 1);
  --orange-300: hsla(var(--hsl-orange), 60%, 1);
  --orange-400: hsla(var(--hsl-orange), 40%, 1);
  --orange-500: hsla(var(--hsl-orange), 30%, 1);
  --yellow-100: hsla(var(--hsl-yellow), 90%, 1);
  --yellow-200: hsla(var(--hsl-yellow), 80%, 1);
  --yellow-300: hsla(var(--hsl-yellow), 60%, 1);
  --yellow-400: hsla(var(--hsl-yellow), 40%, 1);
  --yellow-500: hsla(var(--hsl-yellow), 30%, 1);
  --green-100: hsla(var(--hsl-green), 90%, 1);
  --green-200: hsla(var(--hsl-green), 80%, 1);
  --green-300: hsla(var(--hsl-green), 60%, 1);
  --green-400: hsla(var(--hsl-green), 40%, 1);
  --green-500: hsla(var(--hsl-green), 30%, 1);
  --blue-100: hsla(var(--hsl-blue), 90%, 1);
  --blue-200: hsla(var(--hsl-blue), 80%, 1);
  --blue-300: hsla(var(--hsl-blue), 60%, 1);
  --blue-400: hsla(var(--hsl-blue), 40%, 1);
  --blue-500: hsla(var(--hsl-blue), 30%, 1);
  --purple-100: hsla(var(--hsl-purple), 90%, 1);
  --purple-200: hsla(var(--hsl-purple), 80%, 1);
  --purple-300: hsla(var(--hsl-purple), 60%, 1);
  --purple-400: hsla(var(--hsl-purple), 40%, 1);
  --purple-500: hsla(var(--hsl-purple), 30%, 1);
}
